// Color
$color-primary: #e8b225;
$color-primary-shaded: #ce9c20;
$color-secondary: #2a2a2a;
$color-background-dark: #111111;
$color-background-gray: #d4d4d4;
$color-background-light: #eeeeee;
$color-tag: #f3ecdc;
$color-gray: #eeeeee;
$color-gray-light: #f1f1f1;
$color-white: #ffffff;
$color-layout-shaded: rgba(black, 0.7);
$color-panel: rgb(238, 238, 238);

// Text
$text-light: whitesmoke;
$text-dark: rgb(19, 19, 19);
$text-secondary: #4b4b4b;

// Indents
$padding-std: 1em;
$padding-min: 0.5em;
$border-radius-l: 30px;
$border-radius-l-inner: 25px;
$border-radius-m: 20px;
$border-radius-m-inner: 15px;
$border-radius-s: 10px;
