.manager-layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

/** 
* scrollbars mixin
 * @param  {size}                Scrollbar handler width & height
 * @param  {foreground-color}    Scrollbar foreground color
 * @param  {background-color}    Scrollbar background color
* 
* @example - @include scrollbars(10px, pink, red);
*/
.primary-nav {
  background-color: #2a2a2a;
  color: white;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
}

aside {
  width: 250px;
  min-width: 250px;
  height: 100vh;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}
aside nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  color: #ce9c20;
}

.aside-navlink {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 0.7em 1em;
  width: 180px;
  color: gray;
  transition: all 0.2s ease-in-out;
}
.aside-navlink.active, .aside-navlink:hover {
  background-color: #2a2a2a;
  color: #e8b225;
}

.sidebar-body {
  display: flex;
  flex-direction: column;
  gap: 3em;
  flex-grow: 1;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-bottom: 2em;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter Tight", sans-serif;
}

hr {
  width: 100%;
  height: 0;
  margin: 0;
  border: 0;
  border-top: 1px dashed rgba(75, 75, 75, 0.5);
}

a {
  all: unset;
  font-size: larger;
  cursor: pointer;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.4em;
}

h3 {
  margin: 0.6em 0 0.4em 0;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: #eeeeee;
}

.App {
  position: relative;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

main {
  width: 100%;
  height: 100%;
  padding: 1em;
}

.categories-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5em;
  width: 100%;
  overflow-x: auto;
  overscroll-behavior: none;
  flex-shrink: 0;
}
.categories-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.categories-wrapper::-webkit-scrollbar-thumb {
  background: #e8b225;
}
.categories-wrapper::-webkit-scrollbar-track {
  background: #f4d992;
}
.categories-wrapper {
  scrollbar-face-color: #e8b225;
  scrollbar-track-color: #f4d992;
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.category-wrapper h2 {
  margin: 0;
}

.content-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.content-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.content-wrapper::-webkit-scrollbar-thumb {
  background: #e8b225;
}
.content-wrapper::-webkit-scrollbar-track {
  background: #f4d992;
}
.content-wrapper {
  scrollbar-face-color: #e8b225;
  scrollbar-track-color: #f4d992;
}
.content-wrapper.product {
  display: grid;
  grid-template-rows: 200px 1fr 60px;
  gap: 1em;
}
.content-wrapper.cart {
  display: grid;
  grid-template-rows: 30px 1fr 2px 1.3em 45px;
  gap: 1em;
}
.content-wrapper.order {
  display: grid;
  grid-template-rows: 30px 30px 1fr 2px 1.3em 45px;
  gap: 1em;
}
.content-wrapper.empty {
  justify-content: center;
  align-items: center;
}

.panel-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: whitesmoke;
  cursor: pointer;
}
button.menu {
  position: relative;
  border-radius: 50%;
  background-color: #2a2a2a;
  width: 40px;
  height: 40px;
  font-size: 1.2em;
}
button.menu:active {
  background-color: rgba(42, 42, 42, 0.5);
}
button.btn-panel {
  border-radius: 50%;
  background-color: #e8b225;
  color: whitesmoke;
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  border: 4px solid white;
}
button.btn-panel:active {
  background-color: #ce9c20;
}
button.btn-panel.absolute {
  position: absolute;
  top: 0.7em;
  right: 0.3em;
}
button.btn-add {
  border-radius: 50%;
  background-color: #e8b225;
  max-width: 35px;
  max-height: 35px;
  width: 35px;
  height: 35px;
  font-size: 1.4em;
}
button.btn-add:active {
  background-color: #ce9c20;
}
button.btn-primary {
  border-radius: 30px;
  background-color: #e8b225;
  text-transform: uppercase;
  font-weight: 600;
  height: 45px;
  font-size: 0.9em;
  width: 60%;
}
button.btn-primary:active {
  background-color: #ce9c20;
}
button.btn-outlined {
  border-radius: 30px;
  border: 1px solid #e8b225;
  text-transform: uppercase;
  background-color: transparent;
  color: #e8b225;
  font-weight: 600;
  height: 45px;
  font-size: 0.9em;
  width: 60%;
}
button.w-100 {
  width: 100%;
}

.btn-add-remove {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid #e8b225;
  color: rgb(19, 19, 19);
  height: 35px;
  padding: 0 0.5em;
  gap: 5px;
  background-color: #ffffff;
}
.btn-add-remove button {
  background-color: #ffffff;
  color: #e8b225;
  border: 0;
  font-size: 1.4rem;
}
.btn-add-remove.large {
  height: 45px;
  gap: 10px;
  border-radius: 30px;
}
.btn-add-remove.large .current-qty {
  font-size: 1.4em;
}
.btn-add-remove.large button {
  font-size: 1.8em;
}

.action-link {
  color: #e8b225;
  font-weight: 500;
  text-decoration: underline;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 0.5em;
  border-radius: 6px;
  border: 1px solid black;
  background-color: #111111;
  color: whitesmoke;
  transition: 0.5s;
  outline: none;
}
input[type=text].large,
input[type=password].large {
  font-size: 1.2em;
}

input[type=text]:focus,
input[type=password]:focus {
  border: 1px solid #555;
}

.login-wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111111;
}

.login {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  width: 300px;
  background-color: #2a2a2a;
  color: whitesmoke;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}
.login form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 1em;
}
.login label {
  font-size: 0.9em;
}
.login .form-row {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.login h1 {
  margin: 0 auto 1em auto;
  font-weight: 200;
  font-size: 1.8em;
}/*# sourceMappingURL=main.css.map */